:root {
  --lightBlue: rgb(174, 243, 243);
  --lightBlack: rgb(187, 179, 179);
  --spacePadding: 2px 16px;
  --borderRadius: 10px;
  --boxShadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

body {
  font-size: 1.5rem;
}

/* Head styles */

#library-logo {
  width: 50px;
  height: auto;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Card styles */

.card {
  /* Add shadows to create the "card" effect */
  background-color: var(--lightBlue);
  box-shadow: var(--boxShadow);
  transition: 0.3s;
  border-radius: var(--borderRadius);
  width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: var(--spacePadding);
}

/* Form style */
section {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

form {
  background-color: var(--lightBlack);
  border-radius: var(--borderRadius);
  display: flex;
  gap: 5px;
  padding: 16px;
}

input:not([type="submit"]) {
  border: none;
  box-shadow: var(--boxShadow);
}

fieldset {
  padding: 0;
  border: none;
  display: flex;
}

.visible {
  display: none;
}
/* Main styles */

main {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}